In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv("AnnualProjected-Modeled.csv");
print(df.shape)
df.head(3)

(94, 7)

,year,rcp45_weighted_mean,rcp45_min,rcp45_max,rcp85_weighted mean,rcp85_min,rcp85_max
0,2006,63.5,59.9,66.7,63.5,60.9,65.4
1,2007,64.0,61.3,66.0,63.5,60.3,66.5
2,2008,63.4,58.6,68.5,64.0,62.0,69.1

In [2]:
df.dtypes

year                     int64
rcp45_weighted_mean    float64
rcp45_min              float64
rcp45_max              float64
rcp85_weighted mean    float64
rcp85_min              float64
rcp85_max              float64
dtype: object